<% include _partials/head %>
  <body>
    <header>
      <nav>
        <a id="home-link" href="/">
          <img alt="Logo" src="/images/offering-plate.png" height="70">
        </a>
        <ul>
          <li id="connect-metamask">
            <a href="/auth/disconnect">
              <button id="disconnect-metamask-button" type="submit">Disconnect Nami</button>
            </a>
          </li>
        </ul>
      </nav>
      <p>
        <% include _partials/messages %>
      </p>
      <h1>Accounts</h1>
      <h4>
        <%= !accounts.length ? 'No one has logged in' : '' %>
      </h4>
      <p>
        <a href="/transaction">
          <i id="transaction-button">Transactions</i>
        </a>
      </p>
    </header>
    <main>
      <section>
        <table id="account-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Last Seen</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <% for (let account of accounts) { %>
            <tr>
              <td><%= account.name ? account.name : '' %></td>
              <td><%= account.updatedAt.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %></td>
              <td>
                <a href="/account/<%= account.publicAddress %>">
                  <%= `${account.publicAddress.slice(0, 4)}...${account.publicAddress.slice(-3)}` %>
                </a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </section>

    </main>
  </body>
</html>
