<% include _partials/head %>
  <body>
    <header>
      <nav>
        <a id="home-link" href="/">
          <img alt="Logo" src="/images/offering-plate.png" height="70">
        </a>
        <ul>
          <li id="connect-nami">
            <a href="/auth/disconnect">
              <button id="disconnect-nami-button" type="submit">Disconnect Nami</button>
            </a>
          </li>
        </ul>
      </nav>
      <p>
        <% include _partials/messages %>
      </p>
      <p>
        <% if (superView) { %>
        <a href="/account">
          <i id="account-button">Accounts</i>
        </a>
        <% } else {%>
        <a href="/">
          <i id="donate-button">Donate</i>
        </a>
        <% } %>
        <a href="/transaction">
          <i id="transaction-button">Transactions</i>
        </a>
      </p>
    </header>
    <main>
      <section>
        <form id="account-details" action="<%= `/account${ superView ? '/' + account.publicAddress : '' }?_method=PUT` %>" method="post">
          <header>
            <h2>Your Account Details</h2>
          </header>
          <label>Ethereum Address:</label>
          <input id="address-dummy" type="text" value="<%= account.publicAddress %>" disabled>
          <label for="name">
            Name:
            <%- errors.name ? `<div class="form-error">${errors.name.message}</div>` : '' %>
          </label>
          <input type="text" name="name" placeholder="Anonymous" value="<%= account.name %>">
          <label for="streetAddress">
            Street Address:
            <%- errors.streetAddress ? `<div class="form-error">${errors.streetAddress.message}</div>` : '' %>
          </label>
          <input type="text" name="streetAddress" value="<%= account.streetAddress %>">
          <label for="city">
            City:
            <%- errors.city ? `<div class="form-error">${errors.city.message}</div>` : '' %>
          </label>
          <input type="text" name="city" value="<%= account.city %>">
          <label for="province">
            Province:
            <%- errors.province ? `<div class="form-error">${errors.province.message}</div>` : '' %>
          </label>
          <input type="text" name="province" value="<%= account.province %>">
          <label for="country">
            Country:
            <%- errors.country ? `<div class="form-error">${errors.country.message}</div>` : '' %>
          </label>
          <input type="text" name="country" value="<%= account.country %>">
          <label for="phone">
            Phone:
            <%- errors.phone ? `<div class="form-error">${errors.phone.message}</div>` : '' %>
          </label>
          <input type="text" name="phone" value="<%= account.phone %>">
          <label for="email">
            Email:
            <%- errors.email ? `<div class="form-error">${errors.email.message}</div>` : '' %>
          </label>
          <input type="email" name="email" value="<%= account.email %>">
          <button id="update-account-button" type="submit" disabled>Update</button>
        </form>
      </section>
    </main>
    <script>
      document.addEventListener('DOMContentLoaded', function(event) {
        document.getElementById('account-details').addEventListener('input', () => {
          document.getElementById('update-account-button').disabled = false;
        }, { once: true });
      });
    </script>
  </body>
</html>
