<% include _partials/head %>
  <body>
    <header>
      <nav>
        <a id="home-link" href="/">
          <img alt="Logo" src="/images/offering-plate.png" height="70">
        </a>
        <ul>
          <li id="connect-metamask">
            <a href="/auth/disconnect">
              <button id="disconnect-metamask-button" type="submit">Disconnect Metamask</button>
            </a>
          </li>
        </ul>
      </nav>
      <h1>You are connected with:</h1>
      <h4>
        <%= agent.publicAddress %>
      </h4>
      <p>
        This is your <em>public</em> address. It is okay to show people this one.
      </p>
      <br>
      <% include _partials/messages %>
    </header>
    <main>
      <section>
        <form id="send-eth">
          <header>
            <h2>Send ETH</h2>
          </header>
          <label for="from">From your address:</label>
          <input class="address-input send-eth-input" type="text" name="from" value="<%= agent.publicAddress %>" disabled>
          <label for="to">To my address:</label>
          <input class="address-input send-eth-input" type="text" name="to" value="<%= process.env.PUBLIC_ADDRESS %>" disabled>
          <br>
          <label for="value">Amount:</label>
          <input id="eth-value-input" class="value-input send-eth-input" type="text" name="value" value="" placeholder="0.00000000">
          <button id="send-eth-button" type="submit">Send</button>
        </form>
      </section>
      <section>
        <form id="account-details" action="/agent?_method=PUT" method="post">
          <header>
            <h2>Your Account Details</h2>
          </header>
          <label for="name">Name:</label>
          <input type="text" name="name" placeholder="Anonymous" value="<%= agent.name %>">
          <button id="update-account-button" type="submit">Update</button>
        </form>
      </section>
    </main>
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
    <script>
      /**
       * 2021-9-27 Adapted from https://docs.metamask.io/guide/create-dapp.html
       */
      document.addEventListener('DOMContentLoaded', function(event) {

        // 2021-10-6 https://docs.metamask.io/guide/mobile-best-practices.html#provider-availability
        if (window.ethereum) {
          handleEthereum();
        }
        else {
          window.addEventListener('ethereum#initialized', handleEthereum, {
            once: true,
          });

          // If the event is not dispatched by the end of the timeout,
          // the user probably doesn't have MetaMask installed.
          setTimeout(handleEthereum, 3000); // 3 seconds
        }

        function handleEthereum() {
          const { ethereum } = window;
          if (ethereum && ethereum.isMetaMask) {
            console.log('Ethereum successfully detected!');
            // Access the decentralized web!

            ethereum.request({ method: 'eth_getBalance', params: ['<%= agent.publicAddress %>', 'latest'] }).then(balance => {
              console.log('Balance');
              console.log(balance);

//              document.getElementById('eth-range-input').setAttribute('max', ethers.utils.formatEther(balance));
            }).catch(err => {
              console.error('Error:', err);
              window.location = '/'
            });
          }
          else {
            console.log('Please install MetaMask!');
          }
        }
      });
    </script>
  </body>
</html>
