<% include _partials/head %>
  <body>
    <header>
      <nav>
        <a id="home-link" href="/">
          <img alt="Logo" src="/images/offering-plate.png" height="70">
        </a>
        <ul>
          <li id="connect-metamask">
            <a href="/auth/disconnect">
              <button id="disconnect-metamask-button" type="submit">Disconnect Metamask</button>
            </a>
          </li>
        </ul>
      </nav>
      <br>

      <h1>Tithing History</h1>
      <h4>
        <%= !transactions.length ? agent.isSuper() ? 'No transactions' : 'You have not sent any ETH yet': '' %>
      </h4>
      <br>
      <a href="/account">
        <button id="account-button">Accounts</button>
      </a>
      <% include _partials/messages %>
    </header>
    <main>
      <section>
        <table id="transaction-table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Value</th>
              <%- agent.isSuper() ? '<th>Donor</th>' : '' %>
              <th>Tx Hash</th>
            </tr>
          </thead>
          <tbody>
            <% for (let tx of transactions) { %>
            <tr>
              <td><%= tx.createdAt.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }) %></td>
              <td><%= tx.value %></td>
              <% if (agent.isSuper()) { %>
              <td>
                <a href="/account/<%= tx.account.publicAddress %>" target="_blank">
                  <%= `${tx.account.publicAddress.slice(0, 4)}...${tx.account.publicAddress.slice(-3)}` %>
                </a>
              </td>
              <% } %>
              <td>
                <a href="https://etherscan.io/tx/<%= tx.hash %>" target="_blank">
                  <%= `${tx.hash.slice(0, 4)}...${tx.hash.slice(-3)}` %>
                </a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
